
html {
  font-family: 'Open Sans', sans-serif;
}

body {
  margin: 0;
}

h1 {
  font-size: 40px;
  font-weight: 300;
}

h2 {
  font-weight: 300;
  font-size: 18px;
  margin: 10px 0;
}

h3 {
  margin: 8px 0;
}

header {
  background: #2F2235;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


header, section {
  padding: 0 30px;
}

#pattrn {
  color: #F2F2F2;
  margin: 15px 0;
}

#party {
  color: #34D1D1;
}

#my-name {
  color: #F2F2F2;
  margin-right: 25px;
}

#accordian-tabs {

}

.title-container {
  display:flex;
  align-items: center;
  margin: 25px 0 35px 0;
}

.divider {
  flex-grow: 1;
  height: 1px;
  background: #D1D2D3;
}

.title-divider {
  margin: 0 0 0 60px;
}

.accordian-container {
  display: flex;
  flex-flow: row wrap;
  max-width: 900px;
  margin: 10px auto;
}

.tab {
  flex: 1 auto;
}

.box {
  flex: 1 100%;
}

.tab {
  background: #F2F2F2;
  border-bottom: 1px solid #D1D2D3;
}

.tab2, .tab3 {
  border-right: 1px solid #FFF;
  border-left: 1px solid #FFF;
}

.tab-title {
  text-align: center;
  color: #666;
}

.active-tab {
  border: 1px solid #D1D2D3;
  border-bottom: none;
  background: #FFF;
}

.active-tab h2 {
  font-weight: 400;
}

.inactive-tab:hover {
  background: #D1D2D3;
}

.inactive-tab:hover > .tab-title, .plus-sign {
 color: #FFF;
}

.inactive-tab:hover .plus-sign {
  fill: #FFF;
}

.plus-sign-label {
  display: none;
}

.box {
  display: flex;
  align-items: center;
  margin: 0 auto;
  border-left: 1px solid #D1D2D3;
  border-right: 1px solid #D1D2D3;
  border-bottom: 1px solid #D1D2D3;
}

.empty-box {
  display: inline-block;
  width: 28%;
  height: 175px;
  border: 1px solid #D1D2D3;
  background: #F2F2F2;
  margin: 10px 20px 10px 12px;
}

.acc-text-container {
  display: inline-block;
  width: 68%;
  margin: 5px 15px 5px 5px;
}

.inactive-box {
  display: none;
}


@media screen and (max-width: 850px) {

  .title-container {
    display: block;
    text-align: center;
  }

  .title-divider {
    margin: 0 auto;
    width: 75px;
  }

  .accordian-container {flex-direction: column;}
  .tab1 {order: 1;}
  .box1 {order: 2;}
  .tab2 {order: 3;}
  .box2 {order: 4;}
  .tab3 {order: 5;}
  .box3 {order: 6;}
  .tab4 {order: 7;}
  .box4 {order: 8;}

  .accordian-container {
    border: 1px solid #D1D2D3;
  }

  .tab {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border: 1px solid #FFF;
  }

  .active-tab {
    border-bottom: 1px solid #D1D2D3;
  }

  .plus-sign-label {
    display: inline-block;
    font-size: 0;
    position: absolute;
    right: 5px;
  }

  .plus-sign {
    fill: #666;
  }

  .box {
    border: none;
  }

  .active-box {
    display: block;
  }

  .empty-box, .acc-text-container {
    display: block;
    width: 92%;
    margin-left: auto;
    margin-right: auto;
  }

  .empty-box {
    height: 150px;
  }

}
