
html {
  font-family: 'Open Sans', sans-serif;
}

body {
  margin: 0;
}

h1 {
  font-size: 40px;
  font-weight: 300;
}

h2 {
  font-weight: 300;
  font-size: 18px;
  margin: 10px 0;
}

h3 {
  margin: 8px 0;
}

h4 {

}

header {
  background: #2F2235;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


header, section {
  padding: 0 30px;
}

button {
  display: block;
  margin: 45px auto 55px auto;
  background: #2F2235;
  border: none;
  min-width: 250px;
}

button h2 {
  color: #FFF;
}

#pattrn {
  color: #F2F2F2;
  margin: 15px 0;
}

#party {
  color: #34D1D1;
}

#my-name {
  color: #F2F2F2;
  margin-right: 25px;
}

#accordian-tabs {

}

.title-container {
  display:flex;
  align-items: center;
  margin: 25px 0 35px 0;
}

.divider {
  flex-grow: 1;
  height: 1px;
  background: #D1D2D3;
}

.title-divider {
  margin: 0 0 0 60px;
}

.accordian-container, .cards-container, .header-bar-container {
  display: flex;
  flex-flow: row wrap;
  max-width: 900px;
  margin: 10px auto;
}

.tab {
  flex: 1 auto;
  background: #F2F2F2;
  border-bottom: 1px solid #D1D2D3;
}

.box {
  flex: 1 100%;
}

.tab2, .tab3 {
  border-right: 1px solid #FFF;
  border-left: 1px solid #FFF;
}

.tab-title {
  text-align: center;
  color: #666;
}

.active-tab {
  border: 1px solid #D1D2D3;
  border-bottom: none;
  background: #FFF;
}

.active-tab h2 {
  font-weight: 400;
}

.inactive-tab:hover {
  background: #D1D2D3;
}

.inactive-tab:hover > .tab-title, .plus-sign {
 color: #FFF;
}

.inactive-tab:hover .plus-sign {
  fill: #FFF;
}

.plus-sign-label {
  display: none;
}

.box {
  display: flex;
  align-items: center;
  margin: 0 auto;
  border-left: 1px solid #D1D2D3;
  border-right: 1px solid #D1D2D3;
  border-bottom: 1px solid #D1D2D3;
}

.empty-box {
  display: inline-block;
  width: 28%;
  height: 175px;
  border: 1px solid #D1D2D3;
  background: #F2F2F2;
  margin: 10px 20px 10px 12px;
}

.acc-text-container {
  display: inline-block;
  width: 68%;
  margin: 5px 15px 5px 5px;
}

.inactive-box {
  display: none;
}


/***FLEXIBLE CARDS***/

.card {
  box-sizing: border-box;
  border: 1px solid #D1D2D3;
  margin-bottom: 20px;
  min-width: 0;
}

.card h2 {
  font-weight: 400;
  margin-left: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.empty-card {
  box-sizing: border-box;
  min-height: 250px;
  width: 100%;
  border-top: 1px solid #D1D2D3;
  background: #F2F2F2;
}

.card1 {flex: 0 1 calc(66% - 20px / 2); margin-right: 20px;}
.card2 {flex: 0 1 calc(33% - 20px / 2);}
.card3 {flex: 0 1 calc(33% - 20px * 2 / 3);}
.card4 {flex: 0 1 calc(33% - 20px * 2 / 3); margin-right: 20px; margin-left: 20px;}
.card5 {flex: 0 1 calc(33% - 20px * 2 / 3);}
.card6 {flex: 0 1 calc(33% - 20px / 2);}
.card7 {flex: 0 1 calc(66% - 20px / 2); margin-left: 20px;}


/****** HEADER BAR ******/

.header-bar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #D1D2D3;
  width: 100%;
}

.x-svg-div {
  margin: 15px 0 15px 20px;
  position: relative;
}

.x-svg-label {
  font-size: 0
}

.x-svg {
  border: 1px solid #666;
  border-radius: 27px;
}

.svg-container {
  position: relative;
  z-index: 2;
}

.white-circle {
  position: absolute;
  border-radius: 27px;
  width: 50px;
  height: 50px;
  left: 1px;
  top: 1px;
  background: #F2F2F2;
  z-index: 1;
}

.search-wrapper {
  position: relative;
}

.search-container {
  display: flex;
  align-items: center;
  margin-right: 20px;
  background: #F2F2F2;
  width: 210px;
  border: 1px solid #666;
}

.search-container h4 {
  margin: 10px 0;
}

.small-white-circle {
  position: absolute;
  border-radius: 27px;
  width: 17px;
  height: 16px;
  left: 14px;
  top: 12px;
  background: #fff;
  z-index: 1;
}

.mag-label {
  font-size: 0;
  margin: 0 15px 0 10px;
  position: relative;
  z-index: 2;
}

.link h4, .menu-text h4, .search-container h4 {
  color: #666;
  font-weight: 300;
  font-size: 17px;
}

.menu-text {
  display: none;
}

@media screen and (max-width: 850px) {

  .title-container {
    display: block;
    text-align: center;
  }

  .title-divider {
    margin: 0 auto;
    width: 75px;
  }

  .accordian-container {flex-direction: column;}
  .tab1 {order: 1;}
  .box1 {order: 2;}
  .tab2 {order: 3;}
  .box2 {order: 4;}
  .tab3 {order: 5;}
  .box3 {order: 6;}
  .tab4 {order: 7;}
  .box4 {order: 8;}

  .accordian-container {
    border: 1px solid #D1D2D3;
  }

  .tab {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border: 1px solid #FFF;
  }

  .active-tab {
    border-bottom: 1px solid #D1D2D3;
  }

  .plus-sign-label {
    display: inline-block;
    font-size: 0;
    position: absolute;
    right: 5px;
  }

  .plus-sign {
    fill: #666;
  }

  .box {
    border: none;
  }

  .active-box {
    display: block;
  }

  .empty-box, .acc-text-container {
    display: block;
    width: 92%;
    margin-left: auto;
    margin-right: auto;
  }

  .empty-box {
    height: 150px;
  }

  .x-svg-div {order: 1;}
  .menu-text {order:2;}
  .link1 {order: 3;}
  .link2 {order: 4;}
  .link3 {order: 5;}
  .search-wrapper {order:6;}

  .inactive-item {
    display: none;
  }

  .menu-text {
    display: block;
    margin-right: 25px;
  }

  .x-svg-div, menu-text {
    flex: 1 auto;
  }

  .hide-item {
    flex: 1 100%;
    background: #F2F2F2;
    margin: 0;
    padding-left: 25px;
  }

  .link1 {
    padding-top: 15px;
  }

  .search-container {
    margin-top: 10px;
    margin-bottom: 20px;
    background: #fcfcfc;
    position: relative;
  }

  .small-white-circle {
    left: 39px;
    top: 22px;
  }

}

@media screen and (max-width: 550px) {
  .card {
    margin: 0;
    margin-bottom: 20px;
  }

  .card1, .card2, .card3, .card4, .card5, .card6, .card7 {
    flex: 0 1 100%;
  }

}
