
html {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-size: 40px;
  font-weight: 300;
}

h2 {
  font-weight: 300;
}

header {
  background: #2F2235;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#pattrn {
  color: #F2F2F2;
}

#party {
  color: #34D1D1;
}

#my-name {
  color: #F2F2F2;
}

#accordian-tabs {

}

.title-container {
  display:flex;
  align-items: center;
}

.title {
  /*flex-grow: 0;*/
}

.divider {
  flex-grow: 1;
  height: 1px;
  background: #D1D2D3;
  margin: 0 0 0 60px;
}
